<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6af144d3-e755-429f-9d81-fac530e2d03a/resourceGroups/EbenezerResources/providers/Microsoft.Web/sites/EbenezerConnectAPI</ResourceId>
    <ResourceGroup>EbenezerResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ebenezerconnectapi-dccabpcjcdh3avfa.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>dd837f7e-7c6e-4d17-920f-534c91d58bb5</ProjectGuid>
    <MSDeployServiceURL>ebenezerconnectapi-dccabpcjcdh3avfa.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EbenezerConnectAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVEILJxQUGU+aKWVZ+j+wAQAAAAACAAAAAAAQZgAAAAEAACAAAACRcG0NIXxAeDLZygDES/GXWz1+/OnwPVDemm2P0NzQDgAAAAAOgAAAAAIAACAAAAA1NvnYiss1NEpIk7ZzYt2h7vziRmK5Hr1hrLq8zAzs8yAAAADQuyMEBx1k4SUrpHC1lx28trDDhHP/RGKOvgeDNUKuKEAAAACK/CphckT5gqRZWBJIiq4U/Ucp7sVyC8PC+sHKgY1UPAocC52XnWhJaNrN5bk/fVswmlwCcWc7SrqfBPnwkrnL</EncryptedPassword>
    <History>False|2025-04-14T03:21:51.9854976Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>